/* 공통 */
:root {
    --point-color: #fb3737;
    --font-color: #363430;
    --first-background-color: #fffbf0;
    --second-background-color: #fff;
    --third-background-color: #1F1F1F;
    --amount-background-color: rgba(255, 251, 240, 0.89);
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    position: relative;
    text-decoration-line: none;
    list-style: none;
    font-family: "Noto Sans KR", sans-serif;
}

.title1 {
    font-size: 48px;
    font-weight: bold;
    color: var(--font-color);
}

.contents1 {
    font-size: 20px;
    font-weight: 200;
    color: var(--font-color);
}

.contents-bold {
    font-size: 25px;
    font-weight: bold;
    color: var(--font-color);
}

.contents2 {
    color: var(--font-color);
}

.contents3 {
    color: var(--font-color);
}

/* 상단부 */
.top-wrap {
    width: 100%;
    height: 718px;
    background: url("/assets/img/intro.jpg");
}

/* 상단부 텍스트 */
.intro-text {
    width: 100%;
    margin: 100px auto 100px auto;
    text-align: center;
}

/* 네비게이션 */
.nav-area {
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
}

.nav-area > li {
    margin-left: 84px;
}

.nav-area > li:last-child {
    padding-right: 50px;
}

.nav-area > li > a {
    font-weight: bold;
}

/* 중간부 */
.middle-container {
    width: 100%;
    height: 600px;
    background: var(--first-background-color);
}

/* 통계 */
.amount-area {
    display: flex;
    position: relative;
    top: -66px;
    width: 1280px;
    margin: auto;
    background: var(--amount-background-color);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.amount-area > li {
    flex: 1;
    height: 135px;
}

.amount-area > li > div {
    text-align: center;
    height: 57px;
    margin-top: 40px;
}

.amount-area > li:not(:last-child) > div {
    border-right: 1px solid #000;
}

/* 메인 텍스트1 = ABOUT */
.main-text1 {
    text-align: center;
}

/* 주사위 게임 설명 */
.about {
    display: flex;
    width: 1280px;
    margin: auto;
}

.about > li {
    flex: 1;
    height: 300px;
    margin-top: 50px;
    text-align: center;
    background: var(--second-background-color);
}

.about> li > .icon-img {
    margin-top: 40px;
}

i {
    font-size: 100px;
    color: var(--point-color);
}

.about > li:not(:last-child) {
    margin-right: 20px;
}

.about > li > .contents-bold {
    margin: 30px auto 30px auto;
}

/* 중간부 2 */
.middle-container2 {
    width: 100%;
    height: 660px;
    background: var(--second-background-color);
}

/* 메인 텍스트2 = SERVICE */
.main-text2 {
    margin: 80px auto auto auto;
    text-align: center;
}

/* 서비스 설명 */
.service {
    display: flex;
    width: 100%;
    height: 450px;
    margin: 50px auto 50px auto;
}

.service > .service-photo > img {
    width: 650px;
    height: 450px;
    margin: auto 90px auto 90px;
}

.service > .contents2 > .contents3 {
    margin-bottom: 60px;
}

/* 하단부 */
.bottom-container{
    width: 100%;
    height: 660px;
}

/* 메인 텍스트 3 = CONTACT */
.main-text3 {
    width: 100%;
    height: 418px;
    background: url("/assets/img/contact.jpg");
}

.main-text3 > ul {
    display: flex;
    padding-top: 80px;
    margin-left: 200px;
}

.main-text3 > ul > li {
    text-align: center;
}

.main-text3 > ul > li > div > .title1,
.main-text3 > ul > li > div{
    color: var(--second-background-color);
}

.more {
    width: 220px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    margin: 16px auto;
    line-height: 40px;
}

footer {
    display: flex;
    width: 100%;
    height: 242px;
    background: var(--third-background-color);
}

footer > div:first-child {
    flex: 5;
    padding-top: 80px;
    text-align: center;
}

footer > div > title1 {
    color: var(--second-background-color);
}

footer > div:last-child {
    flex: 6;
    padding-top: 60px;
    line-height: 2;
    text-align: left;
    color: var(--second-background-color);
}
