<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>dice3</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link th:href="@{css/dice3.css}" rel="stylesheet">
    <link th:href="@{assets/css/style2.css}" rel="stylesheet">
    <link th:href="@{assets/css/reset.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/e7f299d932.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="base-container">
    <div class="navbar">
        <ul class="navbar-wrap">
            <li><a href="/dice1">DICE1</a></li>
            <li><a href="/dice2">DICE2</a></li>
            <li><a href="/dice3">DICE3</a></li>
            <li><a href="#">DICE4</a></li>
        </ul>

        <div class="base-main-text">
            <div class="base-main-title">즐거운 주사위 게임</div>
            <div class="base-sub-title">게임, 스트레스 해소 수단이 될 수 있지만 과하면 인생에 독이 됩니다</div>
        </div>
    </div>
</nav>

<section class="dice-container3-setting">
    <form method="post" action="/dice3" th:object="${playerDTO}">
        <div class="form-wrap">
            <label class="playerName">player1</label>
            <input class="player1" type="text" th:field="${playerDTO.player1Name}" placeholder="이름을 입력하세요">
        </div>

        <div class="form-wrap">
            <label class="playerName">player2</label>
            <input class="player2" type="text" th:field="${playerDTO.player2Name}" placeholder="이름을 입력하세요">
        </div>

        <div class="submit-btn">
            <button class="btn" type="submit">확인</button>
        </div>
    </form>
</section>

</body>
</html>